body{
  font-family: "verdana";
}

#todos {
  width: 60%;
  margin : 3vw;
  margin-left: auto;
  margin-right: auto;
  padding: 3vw;
  border: 2.5px solid hsl(0,0%,0%);
}

@media (max-width: 800px){
  #todos{
    width: 90%;
  }
}

#todos #newtodo #newtitle{
  width:90%;
  font-size: 30px;
  border: none;
  border-bottom: 1px solid #aaa;
  margin-bottom: 1vw;
}

#todos #newtodo #newtitle:focus{
  outline: none;
}

#todos #newtodo #newSubmit{
  background-color: hsl(220, 100%, 60%);
  color: white;
  border: none;
  padding: 5px 10px;
  width: 30px;
  font-size: 20px;
  border-radius: 5px;
  float: right;
  position: relative;
  top: 5px;
}

#todos #newtodo #newSubmit:hover{
  background-color: hsl(220, 100%, 50%);
}

#todos #newtodo #newSubmit:active{
  background-color: black ;
}

#todos .todo{
  font-size: 30px;
  padding: 20px 0px;
  border-bottom: 1px dotted #aaa;
}

#todos .todo:last-of-type {
  border-bottom: none;
}


#todos .todo p {
  display: inline-block;
  margin: 0px;
  max-width: 80%;
}

#todos .todo button{
  background: none;
  position: relative;
  bottom: -2px;
  color: white;
}

#todos .todo .check {
  float: left;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border: 2px solid #888;
  border-radius: 4px;
  font-weight: bold;
}

#todos .todo .check:hover {
  background-color: hsl(120, 50%, 80%);
}

#todos .todo .check:active{
  background-color: hsl(180, 50%, 60%);
}

#todos .todo.completed {
  color: lightgray;
  font-weight: lighter;
}

#todos .todo.completed p {
  text-decoration : line-through;
}

#todos .todo.completed .check {
  background-color: black;
  border: none;
}

#todos .todo .delete{
  float: right;
  border: none;
  font-size: 30px;
  padding: 5px 10px;
  width: 30px;
  font-size: 20px;
  border-radius: 4px;
  background-color: rgb(255, 0, 0);
  color: white;
}

#todos .todo .delete:hover {
  background-color: hsl(0, 50%, 50%);
}

#todos .todo .delete:active {
  background-color: hsl(0, 50%, 40%);
}
